#^css same=append

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

body, html	{-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; width:100%; font-weight:normal; font-style:normal;}
body	{background:#efefef; font-family:monospace, sans-serif; font-size:14px; line-height:1.5em; color:#0b1728; min-width:100%; min-height:100%;}
html	{height:100%;}
h1		{font-size:4em; font-weight:normal; color:#1400ff;}
h2		{font-size:2em; font-weight:normal;}
h3		{font-size:1.3em; font-weight:bold;}
a		{color:#1400ff; text-decoration:none;}
p		{margin:1.5em 0;}
img		{max-width:416px;}

.post_wrap	{max-width:1366px; margin:0 auto; width:98%;}
.post_img_wrap	{background-color:#0b1728; margin:0 auto; padding:1em 2em 3em 2em; width:100%;}
.post_img	{background:url('{_dirname}/data/play_blanc.png') center no-repeat; background-size:contain; width:525px; height:300px; margin:0 auto;}
.post_date,
.post_text	{display:inline-block; vertical-align:top; width:50%; padding:2em;}

.post_img_wrap	{background:linear-gradient(-69deg,#0b1728,#5e5256,#23d5c4,#0b1728,#6f445a); animation:play 300s ease-in infinite; background-size:600%;}
@keyframes play {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}

.about_wrap	{font-size:18px;}
.notes_wrap	{font-size:14px;}

.date_top	{text-transform:uppercase; margin:1.5em 0;}
.date_wrap_a,
.date_wrap	{border:1px solid #0b1728; padding:1em;}
.date_wrap	{border-top:0;}

.date_title	{font-size:14px;}
.date_text	{font-size:15px; margin-top:0.8em;}
.date_text span {background-color:#f9ffc3; color:#1967c9; font-weight:bold;}


/*	PHONES & STUFF
	============================================= */
	
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

*		{width:100%; height:auto; min-height:1px; max-height:999999px;}
body	{font-size:3rem; padding-bottom:3em;}
.post_img_wrap	{padding:1em 0 2em 0;}
.post_img	{width:700px; height:400px;}
.post_date,
.post_text	{display:block; width:100%; padding:0 1em;}
.date_title,
.date_text,
.notes_wrap,
.about_wrap	{font-size:3rem;}
}
